<!doctype html>
<html lang="ja" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>form</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/onsen-css-components-blue-theme.css"><!--ここでテーマローラの変更-->

  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src="js/jquery/jquery-1.11.1.min.js"></script>

  <!--script src="cordova.js"></script-->
  <script src="js/app.js"></script>
  <script>
    ons.ready(function() {
    });
  </script>
</head>

<body ng-controller="AppController">
<!--
  <ons-sliding-menu var="app.menu" main-page="page.html" menu-page="menu.html" max-slide-distance="200px" type="reveal" side="left">
</ons-sliding-menu>
-->

  <ons-tabbar>
    <!--                   activeで最初に表示されるページを指定-->
    <!-- タブバー型をやめるときはons-templateを外せばOK -->
    <ons-tab page="home.html" active="true">
      <ons-icon icon="ion-home"></ons-icon>
      <span style="font-size: 14px">Home</span>
    </ons-tab>

    <ons-tab page="">
      <ons-icon icon="ion-edit"></ons-icon>
      <span style="font-size: 14px">Form</span>
    </ons-tab>

    <ons-tab page="">
      <ons-icon icon="ion-gear-a"></ons-icon>
      <span style="font-size: 14px">Setting</span>
    </ons-tab>

  </ons-tabbar>




  <ons-template id="home.html">
    <ons-navigator>
      <ons-page>
        <ons-toolbar>
          <div class="center">ホーム</div>
        </ons-toolbar>

        <div ng-controller="HomeController">
          <section style="padding: 2%; margin-top: 50%;">
            <ons-button modifier="large" class="button" value="入力フォームへ" ng-click="go_to_form()">入力フォームへ</ons-button>
          </section>
        </div>
      </ons-page>
    </ons-navigator>
  </ons-template>





  <ons-template id="form.html">
    <ons-page ng-controller="FormController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">入力フォーム</div>
      </ons-toolbar>

      <div id="wrapper">

        <div class="question_Box">
          <div class="question_image"><img src="img/me.gif" alt="質問者の写真"/></div>
          <div class="arrow_question">
            質問テキスト質問テキスト質問テキスト質問テキスト質問テキスト質問テキスト
          </div><!-- /.arrow_question -->

        </div><!-- /.question_Box -->




        <div class="question_Box">
          <div class="answer_image"><img src="img/you.jpeg" alt="解答者の写真" /></div>
          <div class="arrow_answer">
            解答テキスト解答テキスト解答テキスト解答テキスト解答テキスト解答テキスト
          </div><!-- /.arrow_answer -->

        </div><!-- /.question_Box -->
      </div><!-- /#wrapper -->

      <!--div id="question">

        <section style="float: left;">
          <span for="name">Q1:名前は？</span>
        </section>

        <section style="bottom: 0;">
          <input type="text" class="text-input text-input--transparent" style="width:100%; margin-top:4px;" name="name" id="name" placeholder="name">
          <ons-button class="button button--outline" value="送信" ng-click=""></ons-button>
        </section>

      </div-->
    </ons-page>
  </ons-template>





  <!--ons-template id="settings.html">
    <ons-page>

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px">
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
          Add a note
        </ons-list-item>
      </ons-list>

      <ons-list style="margin-top: 10px">
        <ons-list-item class="item" ng-repeat="i in [1,2,3]">
          <header>
            <span class="item-title">Lorem ipsum dolor sit amet</span>
          </header>
          <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>

  </ons-template-->





</body>
</html>
